<div class="overlay">
  <div class="wrap">
    {{#if title}}
      <h1>{{title}}</h1>
      <div class="description">
        <p>{{description}}</p>
      </div>
    {{/if}}
  </div>
</div>
<img id="banner-image" src="{{image_url}}" alt="{{title}}">