{{#if view.siteSettings.banner_enabled}}
  <div class="b-banner clearfix">
    {{branding-banner image_url=siteSettings.banner_image_url title=siteSettings.banner_title description=siteSettings.banner_description}}
  </div>
{{/if}}