<header class="b-header clearfix">
  <div class="wrap">
    <div class="contents clearfix">
      <div class="title">
        <a href="{{siteSettings.brand_url}}">
          <img src="{{siteSettings.brand_logo_url}}" alt="{{siteSettings.brand_name}}" />
        </a>
      </div>
    </div>
  </div>
</header>
