.b-header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1001;
    background-color: black;
}
.b-header {
    left: 0;
    z-index: 1000;
    height: 48px;
    margin-bottom: 0;
}
.b-header .contents {
    margin: 8px 0;
}
.b-header .title {
    float: left;
}
.b-header .title a, .b-header .title a:visited {
    color: #cccccc;
}
.d-header {
  margin-top: 48px;
}
#main-outlet {
  padding-top: 130px;
}
