.b-header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1001;
    background-color: white;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}
.b-header {
    left: 0;
    z-index: 1000;
    padding-top: 3px;
    height: 60px;
}
.b-header .contents {
    margin: 8px 0;
}
.b-header .title {
    float: left;
}
.b-header .title a, .b-header .title a:visited {
    color: #333333;
}
