@import "theme_variables";

.b-header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1001;
  background-color: $tertiary;
  left: 0;
  z-index: 1000;
  height: 48px;
  margin-bottom: 0;

  .contents {
    margin: 8px 0;
  }

  .title {
    float: left;
    margin-right: 24px;
    a {
      color: $secondary;
    }
    &:visited {
      color: $secondary;
    }
  }

  #brand-logo {
    max-height: 32px;
  }

  #brand-text-logo {
    line-height: 32px;
  }

  nav.links {
    float: left;
  }

  .nav-pills {
    margin-bottom: 0;
    > li > a {
      color: $secondary;
      line-height: 22px;
      &:hover {
        color: $quaternary;
        background-color: dark-light-diff($quaternary, $tertiary, 70%, -70%);
      }
      &.active > a, > a.active {
        color: $secondary;
        background-color: $quaternary;
      }
    }
  }
}

.d-header {
  margin-top: 48px;
}
#main-outlet {
  padding-top: 130px;
}
