@import "theme_variables";

.b-header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1001;
  background-color: $tertiary;
  left: 0;
  z-index: 1000;
  height: 48px;
  margin-bottom: 0;

  .contents {
    margin: 8px 0;
  }

  .title {
    float: left;
    margin-right: 24px;
    a {
      color: $secondary;
    }
    &:visited {
      color: $secondary;
    }
  }

  #brand-logo {
    max-height: 32px;
  }

  #brand-text-logo {
    line-height: 32px;
    margin: 0;
  }

  nav.links {
    float: left;
  }

  .nav-pills {
    margin-bottom: 0;
    > li > a {
      color: $secondary;
      line-height: 22px;
      &:hover {
        color: $quaternary;
        background-color: dark-light-diff($quaternary, $tertiary, -70%, 70%);
      }
      &.active > a, > a.active {
        color: $secondary;
        background-color: $quaternary;
      }
    }
  }

  .icons {
    float: right;
    text-align: center;
    > ul {
      margin: 0 0 0 5px;
      > li {
        float: left;
      }
    }
    .icon {
      display: block;
      padding: 3px;
      color: #999999;
      text-decoration: none;
      cursor: pointer;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      transition: all linear .15s;
      &:hover {
        color: #222222;
        background-color: #e9e9e9;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
      }
    }
    [class^="fa fa-"] {
      width: 32px;
      height: 32px;
      font-size: 1.714em;
      line-height: 32px;
      display: inline-block;
    }
  }
}

.d-header {
  margin-top: 48px;
}
#main-outlet {
  padding-top: 130px;
}
